

<ion-view view-title="Playlistss">
  <ion-pane>

      <ion-tabs class="tabs-striped tabs-top tabs-stable tabs-icon-top">

        <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="app.playlists.1st">
          <ion-nav-view name="playlists1st"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" ui-sref="app.playlists.2nd">
          <ion-nav-view name="playlists2nd"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="app.playlists.3rd">
          <ion-nav-view name="playlists3rd"></ion-nav-view>
        </ion-tab>

      </ion-tabs>

  </ion-pane>

</ion-view>
